In [6]:
import ipywidgets as widgets
from IPython.display import display
from ipywidgets import interact
import pandas as pd
import psycopg2 as pg
import sqlalchemy
from sqlalchemy import create_engine

In [4]:
cnx = 'postgresql://postgres:123@localhost/alocacao_salas_true'
sqlalchemy.create_engine(cnx)

Engine(postgresql://postgres:***@localhost/alocacao_salas_true)

In [5]:
%reload_ext sql

In [6]:
%sql postgresql://postgres:123@localhost/alocacao_salas_true

In [7]:
con = pg.connect(host='localhost', dbname= 'alocacao_salas_true', user='postgres', password= '123')

In [7]:
nome = widgets.Text(
    value = '',
    placeholder ='Nome do professor',
    description ='Nome: ',
    disabled = False
)

In [8]:
# consultar        
# neste exemplo o método de consulta usa o dataframe do pandas como retorno. Note que a flag é usada para ignorar quando um 
# campo for null (condição é sempre verdadeira). Veja que para cpf, que é uma string, foi usado '{cpf.value})' como parametro
# e para dnr que é numérico, foi usado {dnr.value} (sem aspas simples).
button = widgets.Button(description="Consultar! pro_dis", value='')
output = widgets.Output()
flag=''

def on_button_clicked_query_consultar_visao1(b):
    try:        
        query = query = f"select * from alocacao.professor_disciplinas where ('{nome.value}'='{flag}' or nome='{nome.value}')"      
        df = pd.read_sql_query(query, cnx)
        output.clear_output()
        display('Consultar professor_disciplinas')
        display(nome, button, button2, button3, button4, button5, df)
    except:
        output.clear_output()
        display('Consultar professor_disciplinas')
        display(nome, button, button2, button3, button4, button5)
        display("Não foi possível realizar a consulta. ")
        
button.on_click(on_button_clicked_query_consultar_visao1)

button2 = widgets.Button(description="Consultar dis_sala!", value='')
def on_button_clicked_query_consultar2(b):
    try:        
        query = query = f"select * from alocacao.disciplias_sala where ('{nome.value}'='{flag}' or nome='{nome.value}')"      
        df = pd.read_sql_query(query, cnx)
        output.clear_output()
        display('Consultar disciplias_sala')        
        display(nome, button, button2, button3, button4, button5, df)
    except:
        output.clear_output()        
        display(nome, button, button2 ,button3, button4, button5)
        display("Não foi possível realizar a consulta. ")
        
button2.on_click(on_button_clicked_query_consultar2)

button3 = widgets.Button(description="Consultar bloco_professor!", value='')
def on_button_clicked_query_consultar3(b):
    try:        
        query = query = f"select * from alocacao.bloco_professor where ('{nome.value}'='{flag}' or nome='{nome.value}')"      
        df = pd.read_sql_query(query, cnx)
        output.clear_output()
        display('Consultar bloco_professor')        
        display(nome, button, button2, button3, button4, button5, df)
    except:
        output.clear_output()        
        display(nome, button, button2 ,button3, button4, button5)
        display("Não foi possível realizar a consulta. ")
        
button3.on_click(on_button_clicked_query_consultar3)

button4 = widgets.Button(description="Consultar professor_leciona!", value='')
def on_button_clicked_query_consultar4(b):
    try:        
        query = query = f"select * from alocacao.professor_leciona where ('{nome.value}'='{flag}' or pnome='{nome.value}')"      
        df = pd.read_sql_query(query, cnx)
        output.clear_output()
        display('Consultar professor_leciona')        
        display(nome, button, button2, button3, button4, button5, df)
    except:
        output.clear_output()        
        display(nome, button, button2 ,button3, button4, button5)
        display("Não foi possível realizar a consulta. ")
        
button4.on_click(on_button_clicked_query_consultar4)

button5 = widgets.Button(description="Consultar conta_alu_disc!", value='')
def on_button_clicked_query_consultar5(b):
    try:        
        query = query = f"select * from alocacao.conta_alu_disc where ('{nome.value}'='{flag}' or pnome='{nome.value}')"      
        df = pd.read_sql_query(query, cnx)
        output.clear_output()
        display('Consultar conta_alu_disc')        
        display(nome, button, button2, button3, button4, button5, df)
    except:
        output.clear_output()        
        display(nome, button, button2 ,button3, button4, button5)
        display("Não foi possível realizar a consulta. ")
        
button5.on_click(on_button_clicked_query_consultar5)

with output:
    output.clear_output()
    display('Consultar visao_professor_disciplinas!')
    display(nome, button, button2, button3, button4, button5)
output

Output()

"select * from alocacao.conta_alu_disc where (''='' or nome='')"